@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-jetbrains-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-hover: var(--destructive-hover);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-accent-alt: var(--accent-alt);
  --color-accent-hover: var(--accent-hover);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: oklch(98.72% 0.0034 325.6);
  --foreground: oklch(43.17% 0.244874 289.6159);
  /*border alternate for small/medium*/
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  /*use for text etc*/
  --primary: oklch(23.73% 0.1396 283.97);
  /*normal text*/
  --primary-hover: oklch(97.26% 0.0201 318.4);
  /*normal button bg*/
  /*normal hover/selected text*/
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  /*use for button etc*/
  --accent: oklch(53.05% 0.2931 293.94);
  /*highlight text*/
  /*normal button bg*/
  /*border*/
  --accent-alt: oklch(84.43% 0.1119 314.36);
  --accent-hover: oklch(71.92% 0.2008 310.93);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(54.06% 0.2079 27.89);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --destructive-hover: oklch(0.645 0.246 16.439);
  --border: oklch(43.17% 0.244874 289.6159);
  --input: oklch(43.17% 0.244874 289.6159);
  --ring: oklch(43.17% 0.244874 289.6159);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.129 0.042 264.695);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.129 0.042 264.695);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.984 0.003 247.858);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.279 0.041 260.031);
  --input: oklch(0.279 0.041 260.031);
  --ring: oklch(0.446 0.043 257.281);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(0.279 0.041 260.031);
  --sidebar-ring: oklch(0.446 0.043 257.281);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-primary;
  }

  .h1 {
    @apply text-[30px] xl:text-[44px] leading-[1.1] font-semibold
  }

  .h2 {
    @apply text-[15px] xl:text-[30px] leading-[1.1] font-semibold
  }

  .h3 {
    @apply text-[8px] xl:text-[15px] leading-[1.1] font-semibold
  }

  .text-outline {
    -webkit-text-stroke: 1px #1E005C;
  }

  .text-outline-hover {
    -webkit-text-stroke: 1px #ff5ea0;
  }

  
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  .box-shadow {
    box-shadow: 6px 6px 12px oklch(43.17% 0.244874 289.6159), -6px -6px 12px oklch(84.43% 0.1119 314.36);
  }

  .box-shadow:hover {
    box-shadow: 4px 4px 12px oklch(43.17% 0.244874 289.6159), -4px -4px 12px oklch(84.43% 0.1119 314.36);
  }

  .btn-shadow {
    filter: drop-shadow(0 0 0.2rem);
  }

  .btn-shadow:hover {
    filter: drop-shadow(0 0 0.4rem crimson);
  }

  .btn-shadow:focus {
    filter: drop-shadow(0 0 0.4rem var(--accent));
  }


  .btn {
    width: auto;
    border: 0;
    outline: none;
    cursor: pointer;
    position: relative;
  }

  .cp-title {
    clip-path: polygon(98% 0, 100% 30%, 100% 100%, 2% 100%, 0% 70%, 0 0);
  }

  .cp-post {
    clip-path: polygon(98% 0, 100% 6%, 100% 100%, 2% 100%, 0% 95%, 0 0);
  }

  .cp-add {
    clip-path: polygon(96% 0, 100% 4%, 100% 100%, 4% 100%, 0% 96%, 0 0);
  }

  .cp-add-button {
    clip-path: polygon(75% 0, 100% 25%, 100% 100%, 25% 100%, 0% 75%, 0 0);
  }

  .cp-item {
    clip-path: polygon(95% 0, 100% 5%, 100% 100%, 5% 100%, 0% 95%, 0 0);
  }

  .cp-panel {
    clip-path: polygon(98% 0, 100% 16%, 100% 100%, 2% 100%, 0% 84%, 0 0);
  }
  .btn:hover .panel-title {
    text-shadow: 0 4px 4px var(--accent);
  }

  .cp-tag {
    clip-path: polygon(90% 0, 100% 25%, 100% 100%, 10% 100%, 0% 75%, 0 0);
  }

  .btn-content {
    display: flex;
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
  }

  .btn-label {
    height: 15px;
    font-size: .70rem;
    position: absolute;
    bottom: 4px;
    right: 2%;
    padding: 0 5px;
    background-color: var(--color-white);
    z-index: 3;
  }

  .markdown>* {
    all: revert;
  }

  .item {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition-property: all;
    transition-timing-function: ease, linear, ease;
    transition-duration: .3s, .3s, .3s;
    transition: .4 ease;
  }

  .item:hover {
    transition-timing-function: ease, step-start;
    transform: scale(1.1);
    z-index: 15;
  }

  .view-btn,
  .item-normal .view-btn {
    height: 0;
    transition: 0.4s ease;
  }

  .item:hover .view-btn,
  .item:hover {
    height: 40px;
    border-top: 1px solid var(--accent);
  }

  .item-shadow {
    filter: drop-shadow(0 0 0.2rem);
  }

  .item-shadow:hover {
    filter: drop-shadow(0 0 0.4rem var(--color-accent));
  }

  .item-title {
    font-size: 1vw;
    line-height: 20px;
  }

  .image {
    object-fit: cover;
    height: 100%;
    object-position: right;
    transition: opacity .4s ease;
    width: 100%
  }

  @keyframes activate_slide {
    0% {
      transform: scale(1);
      filter: grayscale(50%) brightness(.5)
    }

    50% {
      transform: scale(1);
      filter: grayscale(50%) brightness(.6)
    }

    75% {
      transform: scale(1);
      filter: grayscale(0) brightness(.8)
    }

    to {
      transform: scale(1.22);
      filter: grayscale(0) brightness(1)
    }
  }

  .swiper {
    height: 100%;
    transform: scale(1);
    display: flex;
    position: relative;
    align-items: center;
    padding: 0px 10px;
  }

  .swiper-wrapper {
    display: flex;
    position: relative;
  }

  .swiper-slide {
    display: flex;
    position: relative;
    filter: grayscale(50%) brightness(.5) contrast(0.8);
    transition: 0.3s;
    padding-top: 8em;
    justify-items: center;
  }

  .swiper-slide-prev,
  .swiper-slide-next {
    display: flex;
    position: relative;
    z-index: 5;
  }

  .swiper-slide-prev img,
  .swiper-slide-next img {
    display: flex;
    position: relative;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
  }

  .swiper-slide-active {
    filter: grayscale(0) brightness(1) contrast(1.2);
    transition: all 0.5s ease-in-out;
    z-index: 10;
    display: flex;
    position: relative;
  }

  .swiper-slide-active img {
    display: flex;
    position: relative;
    border: 2px solid var(--accent);
    animation: pulseBorder 2s infinite ease-in-out !important;
    box-shadow: 0 0 10px var(--accent), inset 0 0 10px var(--accent);
    animation-name: activate_slide;
    transition: transform 0.5s ease-in-out;
    transition-duration: .5s;
    transform-origin: 50% 100%;
    transform: scale(1.22);
    animation-timing-function: ease-in-out;
    animation-duration: .5s;
    animation-iteration-count: 1;
  }

  @keyframes pulseBorder {

    0%,
    100% {
      box-shadow: 0 0 10px var(--accent), inset 0 0 10px var(--accent);
    }

    50% {
      box-shadow: 0 0 20px var(--accent), inset 0 0 5px var(--destructive);
    }
  }

  @media screen and (min-width: 1280px) {
    .swiper-panel {
      position: relative;
      display: flex;
      z-index: 20;
      bottom: 6rem;
      opacity: 1;
      transform: scale(1);
      transition: all 0.5s ease-in-out;
      justify-content: center;
      align-items: center;
    }

    .swiper-panel:hover {
      transform: scale(1.05);
      transition: all 0.3s ease-in-out;
      filter: drop-shadow(0 0 0.2rem var(--accent));
    }

    .swiper-slide-next .swiper-panel,
    .swiper-slide-prev .swiper-panel {
      opacity: 0;
      transform: scale(0.8);
      transition: all 0.5s ease-in-out;
    }

    .swiper-panel h1 {
      display: flex;
      z-index: 20;
      font-weight: 600;
      font-size: x-large;
      margin-top: -13rem;
      margin-left: 3rem;
      margin-right: 3rem;
      text-align: center;
      color: var(--foreground);
    }

    .swiper-panel p {
      display: flex;
      z-index: 20;
      white-space: pre-wrap;
      text-align: center;
      font-weight: 500;
      font-size: larger;
      margin: 0.5rem 2rem;
      color: var(--foreground);
    }
  }

  .swiper-button-prev {
    width: 54px;
    height: 54px;
    background-image: none;
    position: absolute;
    left: 20rem;
    right: auto;
    top: 18rem;
    margin-top: -22px;
    z-index: 10;
    background-size: 27px 44px;
    background-position: 50%;
  }

  .swiper-button-next {
    width: 54px;
    height: 54px;
    background-image: none;
    position: absolute;
    right: 20rem;
    left: auto;
    top: 18rem;
    margin-top: -22px;
    z-index: 10;
    background-size: 27px 44px;
    background-position: 50%;
  }

  .directional-button {
    cursor: pointer;
    overflow: visible;
    filter: drop-shadow(0 0 8px #7efff5);
  }

  .directional-button .outer-ring-background {
    fill: var(--secondary-foreground);
  }

  .directional-button .inner-ring-background {
    fill: var(--secondary-foreground);
  }

  .directional-button .outer-ring,
  .directional-button .outer-ring-background {
    transform-origin: 48px 50px;
    transition: .2s;
  }

  .directional-button:hover .outer-ring,
  .directional-button:hover .outer-ring-background {
    transform: scale(1.1);
  }

  .directional-button .inner-ring,
  .directional-button .inner-ring-background {
    transition: .2s;
  }

}